<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="menu_actionn" model="ir.actions.server">
            <field name="name">Data Model</field>
            <field name="type">ir.actions.server</field>
            <field name="model_id" ref="odoodatamodel.model_odoodatamodel_odoodatamodel" />
            <field name="state">code</field>
            <field name="code">action = model.action_redirect()</field>

        </record>

    <menuitem id="menu_er"
              name="Data Model "
              action="menu_actionn"
              sequence="5"/>
</odoo>

